<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <headCommon th:replace="fragments/header :: common"></headCommon>
    </head>
    <body>
        <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>

        <!--todo: исправить навигационную цепочку-->
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container-fluid pt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Product Factory</a></li>
                    <li class="breadcrumb-item "><a href="/development/projects">Проекты</a></li>
                    <li class="breadcrumb-item ">
                        <!--/*@thymesVar id="projectId" type="ru.pf.controller.development.conf.ConfCheckController"*/-->
                        <a th:href="@{'/development/projects/'+${projectId}}">
                            <span th:text="${projectId}"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item ">
                        <!--/*@thymesVar id="projectId" type="ru.pf.controller.development.conf.ConfCheckController"*/-->
                        <a th:href="@{'/development/conf/item/'+${projectId}}">Конфигурация</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Проверка</li>
                </ol>
            </nav>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="70%">Правило</th>
                    <th width="30%">Результат</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="instance" type="ru.pf.controller.development.conf.ConfCheckController"*/-->
                <tr th:id="'row_'+${instance.key}" th:each="instance : ${services}">
                    <td th:text="${instance.value.getAlias()}">num</td>
                    <td th:id="'result_'+${instance.key}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--Modal-->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="label-detail" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label-detail">Label</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="body_detail"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let errors = [];

            function fill_empty() {
                $('#label-detail').html('Отсутсвует реализация');
                $('#body_detail').html('Отсутствует реализация отображения правила');
            }

            function fill_good() {
                $('#label-detail').html('Пройден');
                $('#body_detail').html('По выбранному правилу ошибок не найдено');
            }

            function fill_commonModuleName(response) {
                $('#label-detail').html('Имена общих модулей');

                var $table = $('<table class="table table-hover"/>');
                $table.append($('<thead>')
                    .append($('<tr>')
                        .append($('<th>').text('Имя'))
                    )
                );

                let $body = $('<tbody>');
                for (let iObject = 0; iObject < response.objects.length; iObject++) {
                    const object = response.objects[iObject];
                    $body.append($('<tr>')
                        .append($('<td>').text(object.name))
                    );
                }
                $table.append($body);

                // todo: исправить
                $('#body_detail').html('');
                $('#body_detail').append($table);
            }

            function fill_nameLength(response) {
                $('#label-detail').html('Длина имен объектов метаданных');

                var $table = $('<table class="table table-hover"/>');
                $table.append($('<thead>')
                    .append($('<tr>')
                        .append($('<th>').text('Тип'))
                        .append($('<th>').text('Имя'))
                    )
                );

                let $body = $('<tbody>');
                for (let iObject = 0; iObject < response.objects.length; iObject++) {
                    const object = response.objects[iObject];
                    $body.append($('<tr>')
                        .append($('<td>').text(object.metadataName))
                        .append($('<td>').text(object.name))
                    );
                }
                $table.append($body);

                // todo: исправить
                $('#body_detail').html('');
                $('#body_detail').append($table);
            }

            function fill_noReturn(response) {
                $('#label-detail').html('Функции без возврата результата');
                $('#body_detail').html('');

                let $table = $('<table class="table table-hover"/>');
                $table.append($('<thead>')
                    .append($('<tr>')
                        .append($('<th>').text('Модуль'))
                        .append($('<th>').text('Методы'))
                        )
                    );

                let $body = $('<tbody>');
                for (let iItem = 0; iItem < response.objects.length; iItem++) {
                    let item = response.objects[iItem];

                    let $tr = $('<tr>');
                    $tr.append($('<td>').text(moduleString(item)));

                    let $tdMethods = $('<td>');
                    for (let iMethod = 0; iMethod < item.found.length; iMethod++) {
                        let method = item.found[iMethod];
                        $tdMethods.append($('<p>').text(method.name));
                    }
                    $tr.append($tdMethods);
                    $body.append($tr);
                }
                $table.append($body);

                $('#body_detail').append($table);
            }

            function fill_refRef(response) {
                $('#label-detail').html('Ссылка.Ссылка');

                var $table = $('<table class="table table-hover"/>');
                $table.append($('<thead>')
                    .append($('<tr>')
                        .append($('<th>').text('Модуль'))
                        .append($('<th>').text('Позиции в тексте'))
                    )
                );

                let $body = $('<tbody>');
                for (let iItem = 0; iItem < response.objects.length; iItem++) {
                    let item = response.objects[iItem];
                    let $tr = $('<tr>');

                    $tr.append($('<td>').text(moduleString(item)));
                    let $tdText = $('<td>');
                    for (let iText = 0; iText < item.found.length; iText++) {
                        let text = item.found[iText];
                        $tdText.append($('<p>').text(text));
                    }
                    $tr.append($tdText);
                    $body.append($tr);
                }
                $table.append($body);

                // todo: исправить
                $('#body_detail').html('');
                $('#body_detail').append($table);
            }

            function fill_subsystem(response) {
                $('#label-detail').html('Не включенные в подсистемы');

                var $table = $('<table class="table table-hover"/>');
                $table.append($('<thead>')
                    .append($('<tr>')
                        .append($('<th>').text('Тип'))
                        .append($('<th>').text('Имя'))
                    )
                );

                let $body = $('<tbody>');
                for (let iObject = 0; iObject < response.objects.length; iObject++) {
                    const object = response.objects[iObject];
                    $body.append($('<tr>')
                        .append($('<td>').text(object.metadataName))
                        .append($('<td>').text(object.name))
                    );
                }
                $table.append($body);

                // todo: исправить
                $('#body_detail').html('');
                $('#body_detail').append($table);
            }

            /**
             * Формирование полного имени модуля для прикладных объектов, например Справочники, Документы и т.д.
             * @param item          Информация о найденном модуле
             * @param item.object   Объект метаданных
             * @param item.module   Модуль объекта метаданных
             * @returns {string}
             */
            function moduleString(item) {
                if (item.module.type === 'COMMON_MODULE') {
                    return item.object.name;
                } else {
                    let moduleTypeString = '';
                    switch (item.module.type) {
                        case 'MANAGER_MODULE': moduleTypeString = 'Модуль менеджера'; break;
                        case 'OBJECT_MODULE' : moduleTypeString = 'Модуль объекта'; break;
                        default : moduleTypeString = 'Тип не определен';
                    }
                    return `${item.object.name} (${moduleTypeString})`;
                }
            }

            function btnServiceOnClick(event) {
                let attrResult = event.target.attributes.getNamedItem('pf-result');

                if (attrResult.value === "false") {
                    let attrService = event.target.attributes.getNamedItem('service').value;
                    let result = null;
                    for (let i = 0; i < errors.length; i++) {
                        if (errors[i].rule === attrService) {
                            result = errors[i].result;
                            break;
                        }
                    }

                    if (result !== null) {
                        if (attrService === 'commonmodulename') {
                            fill_commonModuleName(result);

                        } else if (attrService === 'namelength') {
                            fill_nameLength(result);

                        } else if (attrService === 'noreturn') {
                            fill_noReturn(result);

                        } else if (attrService === 'refref') {
                            fill_refRef(result);

                        } else if (attrService === 'subsystem') {
                            fill_subsystem(result);

                        } else {
                            fill_empty();
                        }
                    } else {
                        fill_empty();
                    }
                } else {
                    fill_good();
                }
            }

            function check(service, projectId) {
                let $button = $('<button>').addClass('btn btn-link')
                    .attr('data-toggle', 'modal')
                    .attr('data-target', '#detailModal')
                    .attr('type', 'button')
                    .attr('id', 'btn_' + service)
                    .attr('service', service)
                    .text('Обработка')
                    .on('click', function () {
                        btnServiceOnClick(event);
                    });

                $('#result_' + service).append($button);

                $.ajax({
                    type : "GET",
                    contentType : "application/json",
                    url : "/api/conf/check/" + service + "?project=" + projectId,
                    dataType : 'json',
                    timeout : 100000,
                    success : function(data) {
                        $button.text(data.result ? 'Пройден' : 'Не пройден');
                        $button.attr('pf-result', data.result);

                        $('#row_' + service).addClass(data.result ? 'table-success' : 'table-warning');

                        if (!data.result) {
                            errors.push(
                                {
                                    'rule': service,
                                    'result': data
                                }
                            );
                        }
                    },
                    error : function(ex) {
                        $('#row_' + service).addClass('table-danger');
                        $('#result_' + service).html(`Внутренняя ошибка ${ex}`);
                    },
                });
            }
        </script>

        <script th:inline="javascript">
            for (let service in [[${services}]]) {
                check(service, [[${projectId}]]);
            }
        </script>

        <footer th:replace="fragments/footer :: bootstrap"></footer>
    </body>
</html>