<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <headCommon th:replace="fragments/header :: common"></headCommon>
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>
    <body>
        <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>

        <!--todo: исправить навигационную цепочку-->
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container-fluid pt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Product Factory</a></li>
                    <li class="breadcrumb-item "><a href="/development/projects">Проекты</a></li>
                    <li class="breadcrumb-item ">
                        <a th:href="@{'/development/projects/'+${projectId}}">
                            <span th:text="${projectId}"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Конфигурация</li>
                </ol>
            </nav>

            <div class="pb-2">
                <button class="btn btn-outline-success" type="button" onclick="updateConf()">
                    <i class="fas fa-sync" aria-hidden="true"></i>  Обновить
                </button>

                <a th:href="@{'/api/projects/'+${projectId}}+'/conf/download'" class="btn btn-outline-success" role="button" aria-disabled="true">
                    <i class="far fa-file-archive" aria-hidden="true"></i>  Сохранить
                </a>

                <a th:href="@{'/development/conf/check/'+${projectId}}" class="btn btn-outline-info" role="button" aria-disabled="true">
                    <i class="fas fa-check" aria-hidden="true"></i> Проверка
                </a>
            </div>

            <div class="row">
                <div class="col-sm-4">
                     <div id="accordion">
                        <div class="card" th:each="instance : ${metadataNames}">
                            <div th:id="'heading_'+${instance}" class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                            th:attr="data-target='#collapse_'+${instance}, aria-controls='collapse_'+${instance}"
                                            aria-expanded="false">
                                            <span th:text="${instance}"></span>
                                    </button>
                                    <span th:id="'badge_'+${instance}" class="badge badge-info">0</span>
                                </h5>
                            </div>

                            <div th:id="'collapse_'+${instance}" class="collapse" th:attr="aria-labelledby='heading_'+${instance}" data-parent="#accordion">
                                <div th:id="'content_'+${instance}" class="card-body"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <table class="table table-hover">
                        <tr>
                            <td>Общее количество объектов</td>
                            <td id="totalObjects">Подсчет...</td>
                        </tr>
                    </table>
                </div>
            </div>

            <script th:inline="javascript">
                let objects = [[${objects}]];
                let totalObjects = 0;

                for (let iObject = 0; iObject < objects.length; iObject ++) {
                    let instance = objects[iObject];
                    let $content = $('#content_' + instance.metadataName);
                    $content
                        .append($('<a>').attr("href", `/development/conf/item/[[${projectId}]]/${instance.uuid}`).text(instance.name))
                        .append($('<br>'));

                    let $badge = $('#badge_' + instance.metadataName);
                    $badge.html(parseInt($badge.text()) + 1);

                    totalObjects++;
                }

                $('#totalObjects').html(totalObjects);

                $(function () {
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                });
            </script>

            <script>
                function updateConf() {
                    $.ajax({
                        type : "POST",
                        contentType : "application/json",
                        url : `/api/projects/[[${projectId}]]/update`,
                        dataType : 'json',
                        timeout : 100000,
                        success : function(data) {
                            let text = data.success === true ?
                                'Обновление выполнено успешно' :
                                data.description === null ? 'Ошибка обновления' : data.description;

                            $.notify(text, {
                                offset: {
                                    x: 10,
                                    y: 75
                                },
                                type: data.success === true ? 'info' : 'danger'
                            });

                            // todo: убрать после получения конфигурации (rest)
                            if (data.success === true) {
                                document.location.reload(true);
                            }
                        },
                        error : function(e) {
                            console.log("ERROR: ", e);
                        }
                    });
                }
            </script>
        </div>

        <footer th:replace="fragments/footer :: bootstrap"></footer>
    </body>
</html>