<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:replace="fragments/header :: common"/>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>
        <div class="container-fluid pt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Product Factory</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span th:text="${name}"></span>
                    </li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-sm-8" style="text-align: left" >
                    <h5><b th:text="${name}"></b></h5>
                </div>
                <div class="col-sm-4" style="text-align: right" >
                    <a th:href="@{${url}+'/new'}" role="button" aria-pressed="true">
                        <i class="fas fa-plus-circle" aria-hidden="true"></i> Создать
                    </a>
                </div>
            </div>
            <table class="table table-striped" aria-describedby="Настройки">
                <thead>
                <tr>
                    <th id="number">#</th>
                    <th id="name">Наименование</th>
                    <th id="value">Значение</th>
                    <th id="comment">Комментарий</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${items.empty}">
                    <td colspan="3"> Нет данных для отображения </td>
                </tr>
                <tr th:each="item : ${items}">
                    <td>
                        <span th:text="${item.id}"> # </span>
                    </td>
                    <td>
                        <a th:href="@{${url}+'/'+${item.id}}">
                            <span th:text="${item.name}"> Наименование </span>
                        </a>
                    </td>
                    <td><span th:text="${item.value}"> Значение </span></td>
                    <td><span th:text="${item.comment}"> Комментарий </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace="fragments/footer :: bootstrap"/>
    </body>
</html>