<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/header :: common"/>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>

        <div class="container-fluid pt-2">
            <div class="row" th:include="fragments/item :: title(entity = ${entity}, name = 'Проект')"></div>

            <form action="#" th:action="@{'/'+${url}+'/submit'}" th:object="${entity}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <field th:replace="fragments/fields :: id"></field>
                <field th:replace="fragments/fields :: name"></field>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="os-vsc">VSC</label>
                    <div class="col-sm-5">
                        <select id="os-vsc" class="custom-select" th:field="*{cr.id}">
                            <option value="">Выберите VCS</option>
                            <option th:each="cr : ${crList}" th:value="${cr.id}">
                                <p th:text="${cr.name}"> # </p>
                            </option>
                        </select>
                    </div>
                </div>

                <field th:replace="fragments/fields :: comment"></field>

                <div th:include="fragments/item :: operations(url = ${url})"></div>
            </form>
        </div>
        <footer th:replace="fragments/footer :: bootstrap"/>
    </body>
</html>