<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/header :: common"/>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>

        <div class="container-fluid pt-2">
            <nav th:replace="fragments/navbar :: breadcrumb"/>

            <div class="row" th:include="fragments/item :: title(entity = ${entity}, name = 'Проект')"></div>

            <form action="#" th:action="@{${url}+'/submit'}" th:object="${entity}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <field th:replace="fragments/fields :: id"></field>
                <field th:replace="fragments/fields :: name"></field>
                <field th:replace="fragments/fields :: comment"></field>

                <h5 class="card-title">Источники исходных кодов</h5>
                <field th:replace="fragments/fields :: directory"></field>
                <field th:replace="fragments/fields :: cr"></field>
                <field th:replace="fragments/fields :: git"></field>

                <div class="form-check form-check-inline" th:each="source : ${allSourceTypes}">
                    <input class="form-check-input" type="radio" th:field="*{sourceType}" th:value="${source}">
                    <label class="form-check-label" th:for="${#ids.prev('sourceType')}" th:text="${source}"></label>
                </div>
                <hr>

                <div>
                    <a th:if="${entity.id != null}" th:href="@{'/development/conf/' + ${entity.id}}" class="btn btn-outline-info" role="button" aria-disabled="true">
                        <i class="fas fa-project-diagram" aria-hidden="true"></i> Конфигурация
                    </a>
                    <div th:replace="fragments/item :: operations(url = ${url})"></div>
                </div>
            </form>
        </div>
        <footer th:replace="fragments/footer :: bootstrap"/>
    </body>
</html>