<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: common"/>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>

        <div class="container-fluid pt-2">
            <nav th:replace="fragments/navbar :: breadcrumb"/>

            <div class="row" th:include="fragments/item :: title(entity = ${entity}, name = 'Проект')"></div>

            <form action="#" th:action="@{${url}+'/submit'}" th:object="${entity}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <div>
                    <a th:if="${entity.id != null}" th:href="@{'/development/conf/item/' + ${entity.id}}" class="btn btn-outline-info" role="button" aria-disabled="true">
                        <i class="fas fa-project-diagram" aria-hidden="true"></i> Конфигурация
                    </a>
                    <div th:replace="fragments/item :: operations(url = ${url})"></div>
                </div>

                <field th:replace="fragments/fields :: id"></field>
                <field th:replace="fragments/fields :: name"></field>
                <field th:replace="fragments/fields :: comment"></field>

                <field th:replace="fragments/fields :: designer"></field>

                <!-- Тип проекта -->
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="field-project-type">Тип</label>
                    <div class="col-sm-5">
                        <select id="field-project-type" class="custom-select" th:field="*{type}" onchange="typeOnChange(event)">
                            <option value="">Выберите тип проекта</option>
                            <option th:each="projectType : ${projectTypes}" th:value="${projectType}" th:text="${projectType}"/>
                        </select>
                    </div>
                </div>

                <h5 class="card-title">Источники исходных кодов</h5>
                <div class="form-check form-check-inline mb-3" th:each="source : ${allSourceTypes}">
                    <input class="form-check-input" type="radio" onchange="sourceOnChange(event)"
                           th:id="'select_'+${source}"
                           th:field="*{typeOfSourceCodeRepository}"
                           th:value="${source}">

                    <label class="form-check-label"
                           th:for="'select_'+${source}"
                           th:text="${source}"></label>
                </div>

                <field th:replace="fragments/fields :: directory"></field>
                <field th:replace="fragments/fields :: cr"></field>
                <field th:replace="fragments/fields :: git"></field>
                <field th:replace="fragments/fields :: infoBase"></field>

                <item-field id = "input-name-extension">
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label" for="field-name-extension">Имя расширения</label>
                        <div class="col-sm-5">
                            <input type="text"
                                   th:field="*{nameExtension}"
                                   th:value="${entity.nameExtension}"
                                   class="form-control"
                                   id="field-name-extension"
ы                                  placeholder="Имя расширения информационной базы">
                        </div>
                    </div>
                </item-field>

                <hr>
            </form>
        </div>

        <script th:inline="javascript">
            setVisibleSourceTypes([[${entity.typeOfSourceCodeRepository}]]);

            function sourceOnChange(event) {
                setVisibleSourceTypes(event.currentTarget.defaultValue);
            }

            function typeOnChange(event) {
                setVisibleNameExtension();
            }

            function setVisibleNameExtension() {
                let inputNameExtension = $('#input-name-extension');
                inputNameExtension.hide();

                if ($('#select_INFO_BASE').is(':checked')) {
                    if ($('#field-project-type').val() === 'EXTENSION') {
                        inputNameExtension.show();
                    }
                }
            }

            function setVisibleSourceTypes(value) {
                let inputDirectory = $('#input_DIRECTORY');
                let inputCr = $('#input_CR');
                let inputGit = $('#input_GIT');
                let inputInfoBase = $('#input-info-base');

                inputDirectory.hide();
                inputCr.hide();
                inputGit.hide();
                inputInfoBase.hide();


                if (value === 'DIRECTORY') {
                    inputDirectory.show();
                }

                if (value === 'CONFIGURATION_REPOSITORY') {
                    inputCr.show();
                }

                if (value === 'GIT') {
                    inputGit.show();
                }

                if (value === 'INFO_BASE') {
                    inputInfoBase.show();
                }

                setVisibleNameExtension();
            }
        </script>

        <footer th:replace="fragments/footer :: bootstrap"/>
    </body>
</html>