
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-attributes" class="nav-item">
    <a class="nav-link" id="pills-attributes-tab" data-toggle="pill" href="#pills-attributes" role="tab" aria-controls="pills-attributes" aria-selected="false">Реквизиты</a>
</li>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-attributes" class="tab-pane fade" id="pills-attributes" role="tabpanel" aria-labelledby="pills-attributes-tab">
    <table id='attributes' class="table table-hover" aria-describedby="Реквизиты">
        <thead>
            <tr>
                <th id="attribute_uuid" class="">UUID</th>
                <th id="attribute_name" class="">Имя</th>
                <th id="attribute_synonym" class="">Синоним</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>