
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-predefined" class="nav-item">
    <a class="nav-link" id="pills-predefined-tab" data-toggle="pill" href="#pills-predefined" role="tab" aria-controls="pills-predefined" aria-selected="false">Предопределенные</a>
</li>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-predefined" class="tab-pane fade" id="pills-predefined" role="tabpanel" aria-labelledby="pills-predefined-tab">
    <table id='predefined' class="table table-hover" aria-describedby="Предопределенные элементы">
        <thead>
            <tr>
                <th id="name" class="">Имя</th>
                <th id="code" class="">Код</th>
                <th id="description" class="">Наименование</th>
                <th id="isFolder" class="text-center">Это группа</th>
                <th id="id" class="">Идентификатор</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>