
<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">Product Factory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>-->
            <!--</li>-->

            <!-- Разработка -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Разработка
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/development/projects">Проекты</a>
                    <a class="dropdown-item" href="/development/infobases">Информационные базы</a>
                </div>
            </li>

            <!-- Нормативно справочная информация -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Инфраструктура
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/infrastructure/os">Операционные системы</a>
                    <a class="dropdown-item" href="/infrastructure/servers">Серверы</a>
                    <a class="dropdown-item" href="/infrastructure/services">Сервисы (службы)</a>
                </div>
            </li>

            <!-- VCS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    VCS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/vcs/cr">Хранилища конфигураций 1C</a>
                    <a class="dropdown-item" href="/vcs/git">GIT</a>
                </div>
            </li>

            <!-- СЛК -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    СЛК
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="/licence/keys">Ключи</a>
                    <a class="dropdown-item" href="/licence/solution/buildscript">Сценарии сборки</a>
                    <a class="dropdown-item" href="/licence/solution/generate">Создание защищенного решения</a>
                    <a class="dropdown-item" href="/licence/solution/journal">Журнал сборок</a>
                </div>
            </li>

            <!-- Сервис -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Сервис
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/tools/designers">Конфигураторы</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="/tools/properties">Настройки</a>
                </div>
            </li>

            <!--Администрирование-->
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Администрирование
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/admin/users">Пользователи</a>
                    <a class="dropdown-item" href="/swagger-ui/#/">Swagger</a>
                    <a class="dropdown-item" href="/h2-console/">H2-console</a>
                </div>
            </li>
        </ul>

        <!-- Выход -->
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                [[${#httpServletRequest.remoteUser}]]
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- logout -->
                <form class="form-inline" th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">
                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Выйти
                    </button>
                </form>
            </div>
        </div>

    </div>
</nav>

<nav xmlns:th="http://www.thymeleaf.org" th:fragment="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Product Factory</a></li>
        <li class="breadcrumb-item">
            <a th:href="@{${url}}">
                <span th:text="${name}"></span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span th:text="${entity.id == null} ? 'Новый' : ${entity.name}"></span>
        </li>
    </ol>
</nav>

<!-- breadcrumb для объекта метаданных -->
<nav xmlns:th="http://www.thymeleaf.org" th:fragment="breadcrumb-object" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Product Factory</a></li>
        <li class="breadcrumb-item"><a href="/development/projects">Проекты</a></li>
        <li class="breadcrumb-item">
            <a th:href="@{'/development/projects/'+${projectId}}">
                <span th:text="${projectId}"></span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a th:href="@{'/development/conf/item/'+${projectId}}">Конфигурация</a>
        </li>
        <li class="breadcrumb-item">
            <a th:text="${object.listPresentation}" th:href="@{'/development/conf/item/'+${projectId}}"></a>
        </li>    
        <li class="breadcrumb-item active" aria-current="page">
            <span th:text="${object.name}"></span>
        </li>
    </ol>
</nav>


