<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/header :: common"/>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>

        <div class="container-fluid pt-2">
            <div class="row" th:include="fragments/item :: title(entity = ${entity}, name = 'Хранилище конфигурации')"></div>

            <form action="#" th:action="@{/catalogs/cr/submit}" th:object="${entity}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <field th:replace="fragments/fields :: id"></field>
                <field th:replace="fragments/fields :: name"></field>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="conf-name">TCP</label>
                    <div class="col-sm-5">
                        <input th:field="*{tcp}" th:value="${entity.tcp}" type="text" class="form-control" id="conf-name" placeholder="TCP-адрес">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="conf-name">HTTP</label>
                    <div class="col-sm-5">
                        <input th:field="*{http}" th:value="${entity.http}" type="text" class="form-control" id="conf-name" placeholder="HTTP-адрес">
                    </div>
                </div>

                <field th:replace="fragments/fields :: comment"></field>

                <div th:include="fragments/item :: operations(url = ${url})"></div>
            </form>
        </div>
        <footer th:replace="fragments/footer :: bootstrap"/>
    </body>
</html>