<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:include="fragments/header :: common"></head>
    <body>
        <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>
        
        <script th:inline="javascript">
            let fields = [[${fields}]];
            let object = [[${object}]];
            let projectId = [[${projectId}]];
        </script>

        <script type="text/javascript" th:src="@{/js/metadata/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/properties.js}"></script>                        
        <script type="text/javascript" th:src="@{/js/metadata/modules.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/attributes.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/tabularsections.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/forms.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/owners.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/predefined.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/commands.js}"></script>

        <script type="text/javascript" th:src="@{/js/metadata/object/catalog.js}"></script>

        <highlight th:replace="fragments/highlight :: init"/>
        
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container-fluid pt-2">
            <nav th:replace="fragments/navbar :: breadcrumb-object"></nav>        
           
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li th:replace="fragments/metadata-properties :: li-nav-item"></li>
                <li th:replace="fragments/metadata-modules :: li-nav-object"></li>        
                <li th:replace="fragments/metadata-modules :: li-nav-manager"></li>
                <li th:replace="fragments/metadata-attributes :: li-nav-attributes"></li>
                <li th:replace="fragments/metadata-tabular-sections :: li-nav-tabular-sections"></li>
                <li th:replace="fragments/metadata-forms :: li-nav-forms"></li>
                <li th:replace="fragments/metadata-owners :: li-nav-owners"></li>
                <li th:replace="fragments/metadata-predefined :: li-nav-predefined"></li>
                <li th:replace="fragments/metadata-commands :: li-nav-commands"></li>
            </ul>    
            
            <div class="tab-content" id="pills-tabContent">
                <div th:replace="fragments/metadata-properties :: div-items"></div>
                <div th:replace="fragments/metadata-modules :: div-object"></div>        
                <div th:replace="fragments/metadata-modules :: div-manager"></div>
                <div th:replace="fragments/metadata-attributes :: div-attributes"></div>
                <div th:replace="fragments/metadata-tabular-sections :: div-tabular-sections"></div>
                <div th:replace="fragments/metadata-forms :: div-forms"></div>
                <div th:replace="fragments/metadata-owners :: div-owners"></div>
                <div th:replace="fragments/metadata-predefined :: div-predefined"></div>
                <div th:replace="fragments/metadata-commands :: div-commands"></div>
            </div>            
        </div>

        <div th:replace="fragments/metadata-modules :: method-text"></div> 

        <script>
            addProperties();
            addAttributes();
            addTabularSections();
            addForms();
            addModules();
            addOwners();
            addPredefined();
            addCommands();
        </script>

        <footer th:replace="fragments/footer :: bootstrap"></footer>
    </body>
</html>