<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <headCommon th:replace="fragments/header :: common"></headCommon>
    </head>
    <body>
        <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>

        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container-fluid pt-2">
            <nav th:replace="fragments/navbar :: breadcrumb-object"></nav>        
            
            <table id='properties' class="table table-hover">
                <thead>
                    <tr>
                        <th class="w-25" scope="col">Метаданные</th>
                        <th class="w-75" scope="col">
                            <span th:text="${object.listPresentation}"></span>
                        </th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <td>UUID</td>
                        <td><span th:text="${object.uuid}"></span></td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td><span th:text="${object.name}"></span></td>
                    </tr>
                    <tr>
                        <td>Синоним</td>
                        <td><span th:text="${object.synonym}"></span></td>
                    </tr>
                    <tr>
                        <td>Комментарий</td>
                        <td><span th:text="${object.comment}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:inline="javascript">
            let object = [[${object}]];
            // TODO: read properties
        </script>

        <footer th:replace="fragments/footer :: bootstrap"></footer>
    </body>
</html>