<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:include="fragments/header :: common"></head>
    <body>
        <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>

        <script th:inline="javascript">
            let fields = [[${fields}]];
            let object = [[${object}]];
        </script>

        <script type="text/javascript" th:src="@{/js/metadata/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/metadata/properties.js}"></script>

        <script type="text/javascript" th:src="@{/js/metadata/object/role.js}"></script>

        <highlight th:replace="fragments/highlight :: init"/>

        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container-fluid pt-2">
            <nav th:replace="fragments/navbar :: breadcrumb-object"></nav>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li th:replace="fragments/metadata-properties :: li-nav-item"></li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-rights-tab" data-toggle="pill" href="#pills-rights" role="tab" aria-controls="pills-rights" aria-selected="false">Права</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div th:replace="fragments/metadata-properties :: div-items"></div>
                <div class="tab-pane fade" id="pills-rights" role="tabpanel" aria-labelledby="pills-rights-tab">
                    <table id='rightObjects' class="table table-hover" aria-describedby="Права объектов метаданных">
                        <thead>
                        <tr>
                            <th id="metadataObject" class="">Объект метаданных</th>
                            <th id="right" class="">Установленные</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="fragments/metadata-modules :: method-text"></div>

        <script>
            addProperties();
            addMetadata();
        </script>

        <footer th:replace="fragments/footer :: bootstrap"></footer>
    </body>
</html>