
<item-field th:fragment="id" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-id">Код</label>
        <div class="col-sm-5">
            <input th:field="*{id}" th:value="${entity.id}" type="text" readonly class="form-control" id="field-id" placeholder="Код">
        </div>
    </div>
</item-field>

<item-field th:fragment="name" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-name">Наименование</label>
        <div class="col-sm-5">
            <input th:field="*{name}" th:value="${entity.name}" type="text" class="form-control" id="field-name" placeholder="Наименование">
        </div>
    </div>
</item-field>

<item-field th:fragment="comment" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-comment">Комментарий</label>
        <div class="col-sm-5">
            <input th:field="*{comment}" th:value="${entity.comment}" type="text" class="form-control" id="field-comment" placeholder="Комментарий">
        </div>
    </div>
</item-field>

<item-field th:id = "input_CR" th:fragment="cr" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-cr">Хранилище конфигурации</label>
        <div class="col-sm-5">
            <select id="field-cr" class="custom-select" th:field="*{cr.id}">
                <option value="">Выберите хранилище конфигурации</option>
                <option th:each="cr : ${crList}" th:value="${cr.id}">
                    <p th:text="${cr.name}"> # </p>
                </option>
            </select>
        </div>
    </div>
</item-field>

<item-field th:id = "input_GIT" th:fragment="git" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-git">GIT</label>
        <div class="col-sm-5">
            <select id="field-git" class="custom-select" th:field="*{git.id}">
                <option value="">Выберите GIT-репозиторий</option>
                <option th:each="git : ${gitList}" th:value="${git.id}">
                    <p th:text="${git.name}"> # </p>
                </option>
            </select>
        </div>
    </div>
</item-field>

<item-field th:fragment="os" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-os">ОС</label>
        <div class="col-sm-5">
            <select id="field-os" class="custom-select" th:field="*{os.id}">
                <option value="">Выберите операционную систему</option>
                <option th:each="os : ${osList}" th:value="${os.id}">
                    <p th:text="${os.name}"> # </p>
                </option>
            </select>
        </div>
    </div>
</item-field>

<item-field th:fragment="ip4" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-ip4">IP4</label>
        <div class="col-sm-5">
            <input th:field="*{ip4}" th:value="${entity.ip4}" type="text" class="form-control" id="field-ip4" placeholder="IP-адрес">
        </div>
    </div>
</item-field>

<item-field th:fragment="cpu" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-cpu">CPU</label>
        <div class="col-sm-5">
            <input th:field="*{cpu}" th:value="${entity.cpu}" type="text" class="form-control" id="field-cpu" placeholder="CPU">
        </div>
    </div>
</item-field>

<item-field th:fragment="ram" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-ram">RAM (Gb)</label>
        <div class="col-sm-5">
            <input th:field="*{ram}" th:value="${entity.ram}" type="text" class="form-control" id="field-ram" placeholder="RAM">
        </div>
    </div>
</item-field>

<item-field th:fragment="tcp" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="conf-name">TCP</label>
        <div class="col-sm-5">
            <input th:field="*{tcp}" th:value="${entity.tcp}" type="text" class="form-control" id="conf-name" placeholder="TCP-адрес">
        </div>
    </div>
</item-field>

<item-field th:fragment="http" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="conf-name">HTTP</label>
        <div class="col-sm-5">
            <input th:field="*{http}" th:value="${entity.http}" type="text" class="form-control" id="conf-name" placeholder="HTTP-адрес">
        </div>
    </div>
</item-field>

<item-field th:fragment="address" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-address">Адрес</label>
        <div class="col-sm-5">
            <input th:field="*{address}" th:value="${entity.address}" type="text" class="form-control" id="field-address" placeholder="Адрес">
        </div>
    </div>
</item-field>

<item-field th:fragment="property" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-parameter">Параметр</label>
        <div class="col-sm-5">
            <select id="field-parameter" class="custom-select" th:field="*{name}">
                <option value="">Выберите параметр</option>
                <option th:each="property : ${propertyList}" th:value="${property}">
                    <p th:text="${property}"> # </p>
                </option>
            </select>
        </div>
    </div>
</item-field>

<item-field th:fragment="value" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-value">Значение</label>
        <div class="col-sm-5">
            <input th:field="*{value}" th:value="${entity.value}" type="text" class="form-control" id="field-value" placeholder="Значение">
        </div>
    </div>
</item-field>

<item-field th:fragment="fetchUrl" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-fetchUrl">Fetch URL</label>
        <div class="col-sm-5">
            <input th:field="*{fetchUrl}" th:value="${entity.fetchUrl}" type="text" class="form-control" id="field-fetchUrl" placeholder="Fetch URL">
        </div>
    </div>
</item-field>

<item-field th:fragment="defaultBranch" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-defaultBranch">Ветвь по умолчанию</label>
        <div class="col-sm-5">
            <input th:field="*{defaultBranch}" th:value="${entity.defaultBranch}" type="text" class="form-control" id="field-defaultBranch" placeholder="Ветвь по умолчанию">
        </div>
    </div>
</item-field>

<item-field th:id = "input_DIRECTORY" th:fragment="directory" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-name">Каталог</label>
        <div class="col-sm-5">
            <input th:field="*{directory}" th:value="${entity.directory}" type="text" class="form-control" id="field-directory" placeholder="Каталог">
        </div>
    </div>
</item-field>

<!--Логин, пароль-->

<item-field th:fragment="login" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-login">Пользователь</label>
        <div class="col-sm-5">
            <input th:field="*{login}" th:value="${entity.login}" type="text" class="form-control" id="field-login" placeholder="Пользователь">
        </div>
    </div>
</item-field>

<!--todo: отображение пароля-->
<item-field th:fragment="password" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-password">Пароль</label>
        <div class="col-sm-5">
            <input th:field="*{password}" th:value="${entity.password}" type="text" class="form-control" id="field-password" placeholder="Пароль">
        </div>
    </div>
</item-field>

<item-field th:fragment="version" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-name">Версия</label>
        <div class="col-sm-5">
            <input th:field="*{version}" th:value="${entity.version}" type="text" class="form-control" id="field-name" placeholder="Версия">
        </div>
    </div>
</item-field>

<item-field th:fragment="host" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-name">Хост</label>
        <div class="col-sm-5">
            <input th:field="*{host}" th:value="${entity.host}" type="text" class="form-control" id="field-name" placeholder="Хост">
        </div>
    </div>
</item-field>

<item-field th:fragment="path" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-name">Каталог</label>
        <div class="col-sm-5">
            <input th:field="*{path}" th:value="${entity.path}" type="text" class="form-control" id="field-name" placeholder="Каталог">
        </div>
    </div>
</item-field>

<item-field th:id = "input_Designer" th:fragment="designer" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-cr">Конфигуратор</label>
        <div class="col-sm-5">
            <select id="field-designer" class="custom-select" th:field="*{designer.id}">
                <option value="">Выберите конфигуратор</option>
                <option th:each="designer : ${designerList}" th:value="${designer.id}">
                    <p th:text="${designer.name}"> # </p>
                </option>
            </select>
        </div>
    </div>
</item-field>