
<item-field th:fragment="id" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-id">Код</label>
        <div class="col-sm-5">
            <input th:field="*{id}" th:value="${entity.id}" type="text" readonly class="form-control" id="field-id" placeholder="Код">
        </div>
    </div>
</item-field>

<item-field th:fragment="name" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-name">Наименование</label>
        <div class="col-sm-5">
            <input th:field="*{name}" th:value="${entity.name}" type="text" class="form-control" id="field-name" placeholder="Наименование">
        </div>
    </div>
</item-field>

<item-field th:fragment="comment" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-comment">Комментарий</label>
        <div class="col-sm-5">
            <input th:field="*{comment}" th:value="${entity.comment}" type="text" class="form-control" id="field-comment" placeholder="Комментарий">
        </div>
    </div>
</item-field>

<item-field th:fragment="vcs" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="os-vsc">VCS</label>
        <div class="col-sm-5">
            <select id="os-vsc" class="custom-select" th:field="*{cr.id}">
                <option value="">Выберите VCS</option>
                <option th:each="cr : ${crList}" th:value="${cr.id}">
                    <p th:text="${cr.name}"> # </p>
                </option>
            </select>
        </div>
    </div>
</item-field>

<item-field th:fragment="os" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-os">ОС</label>
        <div class="col-sm-5">
            <select id="field-os" class="custom-select" th:field="*{os.id}">
                <option value="">Выберите операционную систему</option>
                <option th:each="os : ${osList}" th:value="${os.id}">
                    <p th:text="${os.name}"> # </p>
                </option>
            </select>
        </div>
    </div>
</item-field>

<item-field th:fragment="ip4" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-ip4">IP4</label>
        <div class="col-sm-5">
            <input th:field="*{ip4}" th:value="${entity.ip4}" type="text" class="form-control" id="field-ip4" placeholder="IP-адрес">
        </div>
    </div>
</item-field>

<item-field th:fragment="cpu" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-cpu">CPU</label>
        <div class="col-sm-5">
            <input th:field="*{cpu}" th:value="${entity.cpu}" type="text" class="form-control" id="field-cpu" placeholder="CPU">
        </div>
    </div>
</item-field>

<item-field th:fragment="ram" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="field-ram">RAM (Gb)</label>
        <div class="col-sm-5">
            <input th:field="*{ram}" th:value="${entity.ram}" type="text" class="form-control" id="field-ram" placeholder="RAM">
        </div>
    </div>
</item-field>

<item-field th:fragment="tcp" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="conf-name">TCP</label>
        <div class="col-sm-5">
            <input th:field="*{tcp}" th:value="${entity.tcp}" type="text" class="form-control" id="conf-name" placeholder="TCP-адрес">
        </div>
    </div>
</item-field>

<item-field th:fragment="http" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="conf-name">HTTP</label>
        <div class="col-sm-5">
            <input th:field="*{http}" th:value="${entity.http}" type="text" class="form-control" id="conf-name" placeholder="HTTP-адрес">
        </div>
    </div>
</item-field>