<head xmlns:th="http://www.thymeleaf.org" th:fragment="common">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Product Factory</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/highlightjs/styles/default.min.css}" />    

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</head>