<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:fragment="common-head">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Product Factory</title>

            <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script type="text/javascript" src="/js/popper.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        </div>
    </head>
    <body/>
</html>