
<!-- Модуль объекта -->
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-object" class="nav-item">
    <a class="nav-link" id="pills-objectModule-tab" data-toggle="pill" href="#pills-objectModule" role="tab" aria-controls="pills-objectModule" aria-selected="false">Модуль объекта</a>
</li>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-object" class="tab-pane fade" id="pills-objectModule" role="tabpanel" aria-labelledby="pills-objectModule-tab">
    <table id='objectModule_methods' class="table table-hover" aria-describedby="Методы модуля">
        <thead>
            <tr>
                <th id="name" class="w-75">Имя</th>
                <th id="isFunction" class="text-center">Функция</th>
                <th id="isEmpty" class="text-center">Пустой</th>
                <th id="isExport" class="text-center">Экспортный</th>
                <th id="text" class="text-center">Текст</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>
    
<!-- Модуль менеджера -->
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-manager" class="nav-item">
    <a class="nav-link" id="pills-managerModule-tab" data-toggle="pill" href="#pills-managerModule" role="tab" aria-controls="pills-managerModule" aria-selected="false">Модуль менеджера</a>
</li>

<!-- TODO: дублирование, все модули одинаковы по структуре -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-manager" class="tab-pane fade" id="pills-managerModule" role="tabpanel" aria-labelledby="pills-managerModule-tab">
    <table id='managerModule_methods' class="table table-hover" aria-describedby="Модуль менеджера">
        <thead>
            <tr>
                <th id="nameMM" class="w-75">Имя</th>
                <th id="isFunctionMM" class="text-center">Функция</th>
                <th id="isEmptyMM" class="text-center">Пустой</th>
                <th id="isExportMM" class="text-center">Экспортный</th>
                <th id="textMM" class="text-center">Текст</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>


<!-- Модуль набора записей -->
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-recordSet" class="nav-item">
    <a class="nav-link" id="pills-recordSetModule-tab" data-toggle="pill" href="#pills-recordSetModule" role="tab" aria-controls="pills-recordSetModule" aria-selected="false">Модуль набора записей</a>
</li>
    
<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-recordSet" class="tab-pane fade" id="pills-recordSetModule" role="tabpanel" aria-labelledby="pills-recordSetModule-tab">
    <table id='recordSetModule_methods' class="table table-hover" aria-describedby="Модуль набора записей">
        <thead>
            <tr>
                <th id="nameRSM" class="w-75">Имя</th>
                <th id="isFunctionRSM" class="text-center">Функция</th>
                <th id="isEmptyRSM" class="text-center">Пустой</th>
                <th id="isExportRSM" class="text-center">Экспортный</th>
                <th id="textRSM" class="text-center">Текст</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>


<!-- Простой модуль -->
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-plain" class="nav-item">
    <a class="nav-link" id="pills-plainModule-tab" data-toggle="pill" href="#pills-plainModule" role="tab" aria-controls="pills-plainModule" aria-selected="false">Модуль</a>
</li>
    
<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-plain" class="tab-pane fade" id="pills-plainModule" role="tabpanel" aria-labelledby="pills-plainModule-tab">
    <table id='plainModule_methods' class="table table-hover" aria-describedby="Общий модуль">
        <thead>
            <tr>
                <th id="namePM" class="w-75">Имя</th>
                <th id="isFunctionPM" class="text-center">Функция</th>
                <th id="isEmptyPM" class="text-center">Пустой</th>
                <th id="isExportPM" class="text-center">Экспортный</th>
                <th id="textPM" class="text-center">Текст</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>

<!-- Модуль менеджера значения -->
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-valueManager" class="nav-item">
    <a class="nav-link" id="pills-valueManagerModule-tab" data-toggle="pill" href="#pills-valueManagerModule" role="tab" aria-controls="pills-valueManagerModule" aria-selected="false">Модуль менеджера значения</a>
</li>
    
<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-valueManager" class="tab-pane fade" id="pills-valueManagerModule" role="tabpanel" aria-labelledby="pills-valueManagerModule-tab">
    <table id='valueManagerModule_methods' class="table table-hover" aria-describedby="Модуль менеджера значений">
        <thead>
            <tr>
                <th id="nameVMM" class="w-75">Имя</th>
                <th id="isFunctionVMM" class="text-center">Функция</th>
                <th id="isEmptyVMM" class="text-center">Пустой</th>
                <th id="isExportVMM" class="text-center">Экспортный</th>
                <th id="textVMM" class="text-center">Текст</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>

<!-- Модуль команды -->
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-command" class="nav-item">
    <a class="nav-link" id="pills-commandModule-tab" data-toggle="pill" href="#pills-commandModule" role="tab" aria-controls="pills-commandModule" aria-selected="false">Модуль команды</a>
</li>
    
<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-command" class="tab-pane fade" id="pills-commandModule" role="tabpanel" aria-labelledby="pills-commandModule-tab">
    <table id='commandModule_methods' class="table table-hover" aria-describedby="Модуль общей команды">
        <thead>
            <tr>
                <th id="nameCM" class="w-75">Имя</th>
                <th id="isFunctionCM" class="text-center">Функция</th>
                <th id="isEmptyCM" class="text-center">Пустой</th>
                <th id="isExportCM" class="text-center">Экспортный</th>
                <th id="textCM" class="text-center">Текст</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>


<!--Modal (method text)-->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="method-text" class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="label-detail" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label-detail">Label</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body_detail">
                <pre>
                    <code id="body_code" class="1c"></code>
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
    