
<!-- Значения перечисления -->
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-item" class="nav-item">
    <a class="nav-link" id="pills-values-tab" data-toggle="pill" href="#pills-values" role="tab" aria-controls="pills-values" aria-selected="false">Значения</a>
</li>
    
<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-items" class="tab-pane fade" id="pills-values" role="tabpanel" aria-labelledby="pills-values-tab">
    <table id='enumValues' class="table table-hover" aria-describedby="Значения перечисления">
        <thead>
            <tr>
                <th id="name" class="w-75">Имя</th>
                <th id="synonym" class="text-center">Синоним</th>
                <th id="comment" class="text-center">Комментарий</th>
            </tr>
        </thead>                
        <tbody>
            <tr th:if="${object.values.empty}">
                <td colspan="3"> Значения отсутствуют </td>
            </tr>
            <tr th:each="item : ${object.values}">
                <td><span th:text="${item.name}"> Имя </span></td>
                <td class="text-center"><span th:text="${item.synonym}"> Синоним </span></td>
                <td class="text-center"><span th:text="${item.comment}"> Комментарий </span></td>
            </tr>        
        </tbody>
    </table>        
</div>
    