
<li xmlns:th="http://www.thymeleaf.org" th:fragment="li-nav-standard-attributes" class="nav-item">
    <a class="nav-link"
       id="pills-standard-attributes-tab"
       data-toggle="pill"
       href="#pills-standard-attributes"
       role="tab"
       aria-controls="pills-standard-attributes"
       aria-selected="false">Стандартные реквизиты</a>
</li>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="div-standard-attributes" class="tab-pane fade"
     id="pills-standard-attributes"
     role="tabpanel"
     aria-labelledby="pills-standard-attributes-tab">

    <table id='standardAttributes' class="table table-hover" aria-describedby="Стандартные реквизиты">
        <thead>
            <tr>
                <th id="standard_attribute_name" class="">Имя</th>
            </tr>
        </thead>                
        <tbody></tbody>
    </table>        
</div>