<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/header :: common"/>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>
        <div class="container-fluid pt-2">
            <h2>Ой, что-то пошло не так... </h2>
            <div>
                <h5><span th:text="${url}"> # </span></h5>
            </div>
            <div>
                <h7><span th:text="${exception}"> # </span></h7>
            </div>
        </div>
        <footer th:replace="fragments/footer :: bootstrap"/>
    </body>
</html>