<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: common"/>
    <body onload="load()">
        <script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>

        <nav aria-label="navigation panel" th:replace="fragments/navbar :: navbar"/>

        <div class="container-fluid pt-2">
            <nav aria-label="bread crumb" th:replace="fragments/navbar :: breadcrumb"/>

            <div class="row" th:include="fragments/item :: title(entity = ${entity}, name = 'Сценарий сборки')"/>

            <form action="#" th:action="@{${url}+'/submit'}" th:object="${entity}" method="post" onload="load()">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <div th:include="fragments/item :: operations(url = ${url})"></div>

                <field th:replace="fragments/fields :: id"/>
                <field th:replace="fragments/fields :: name"/>
                <field th:replace="fragments/fields :: comment"/>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="field-project">Проект</label>
                    <div class="col-sm-5">
                        <select id="field-project" class="custom-select" th:field="*{project.id}" onchange="projectOnChange(event)">
                            <option value="">Выберите проект</option>
                            <option th:each="project : ${projectList}" th:value="${project.id}">
                                <p th:text="${project.name}"> # </p>
                            </option>
                        </select>
                    </div>
                </div>

                <field th:replace="fragments/fields :: infoBase"/>
                <field th:replace="fragments/fields :: licenceKey"/>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="field-data-processor-select">Обработка</label>
                    <div class="col-sm-5">
                        <select id="field-data-processor-select" class="custom-select" th:field="*{dataProcessor}"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="field-template-select">Макет</label>
                    <div class="col-sm-5">
                        <select id="field-template-select" class="custom-select" th:field="*{template}"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="field-common-module-select">Общий модуль</label>
                    <div class="col-sm-5">
                        <select id="field-common-module-select" class="custom-select" th:field="*{commonModule}"
                                onchange="commonModuleOnChange()"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="text-source-text">Исходный текст</label>
                        <textarea readonly class="form-control" rows="10" id="text-source-text"></textarea>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="text-target-text">Конечный текст</label>
                        <textarea class="form-control" rows="10" id="text-target-text" th:field="*{targetText}"></textarea>
                    </div>
                </div>

            </form>
        </div>
        <footer th:replace="fragments/footer :: bootstrap"/>

        <script th:inline="javascript">
            function load() {
                updateAllMetadataList();
            }

            function projectOnChange(event) {
                updateAllMetadataList();
            }

            function updateAllMetadataList() {
                updateDataProcessorList();
                updateTemplateList();
                updateCommonModuleList();
            }

            function updateDataProcessorList() {
                updateMetadataList(
                    $('#field-data-processor-select'),
                    'dataProcessor',
                    [[${entity.dataProcessor}]],
                    'Выберите обработку, на основе которой формируется защищенный модуль'
                );
            }

            function updateTemplateList() {
                updateMetadataList(
                    $('#field-template-select'),
                    'commonTemplate',
                    [[${entity.template}]],
                    'Выберите макет, в который будет записан защищенный модуль'
                );
            }

            function updateCommonModuleList() {
                updateMetadataList(
                    $('#field-common-module-select'),
                    'commonModule',
                    [[${entity.commonModule}]],
                    'Выберите общий модуль, содержищий вызов СЛК'
                );
            }

            function updateMetadataList(componentSelect, className, dbValue, placeholder) {
                componentSelect
                    .find('option')
                    .remove()
                    .end()
                    .append(
                        $("<option></option>")
                            .attr("value", "00000000-0000-0000-0000-000000000000")
                            .text(placeholder == undefined ? "Выберите объект метаданых" : placeholder));

                var selectedProject = getProject();
                if (!!selectedProject) {
                    $.ajax({
                        type: 'GET',
                        url: '/api/conf/objects?project=' + selectedProject + '&objMetadata=' + className,
                        dataType: 'json',
                        success: function(data) {
                            if (data.error == false) {
                                $.each(data.items, function(key, value) {
                                     componentSelect
                                         .append($("<option></option>")
                                                    .attr("value", value.uuid)
                                                    .text(value.name));
                                });
                                componentSelect.val(dbValue).change();
                            } else {
                                $.notify(data.description + ' (' + className + ')', {
                                    offset: {
                                        x: 10,
                                        y: 75
                                    },
                                    type: 'danger'
                                });
                            }
                        }
                    });
                }
            }

            function getProject() {
                return $('#field-project').find(":selected").val();
            }

            function getCommonModuleUuid() {
                return $('#field-common-module-select').find(":selected").val();
            }

            function commonModuleOnChange() {
                loadCommonModuleText(getCommonModuleUuid());
            }

            function loadCommonModuleText(uuid) {
                $('#text-source-text').text('');

                var selectedProject = getProject();
                if (!!selectedProject) {
                    $.ajax({
                        type: 'GET',
                        url: '/api/conf/object?project=' + selectedProject + '&uuid=' + uuid,
                        dataType: 'json',
                        success: function(data) {
                            if (data.error == false) {
                                $('#text-source-text').text(data.object.module.code);
                            } else {
                                $.notify(data.description, {
                                    offset: {
                                        x: 10,
                                        y: 75
                                    },
                                    type: 'danger'
                                });
                            }
                        },
                        error: function (request, status, error) {
                            $.notify(request.responseJSON.message, {
                                offset: {
                                    x: 10,
                                    y: 75
                                },
                                type: 'danger'
                            });
                        }
                    });
                }
            }
        </script>
    </body>
</html>