<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: common"/>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>

        <div class="container-fluid pt-2">
            <nav th:replace="fragments/navbar :: breadcrumb"/>

            <div class="row" th:include="fragments/item :: title(entity = ${entity}, name = 'Информационная база')"></div>

            <form action="#" th:action="@{${url}+'/submit'}" th:object="${entity}" method="post">

                <div>
                    <button th:replace="fragments/item :: operation-save"/>
                    <button th:replace="fragments/item :: operation-delete(url = ${url})"/>

                    <button id="btn_get_extensions" class="btn btn-outline-info" type="button" onclick="getExtensions()">
                        <i class="fas fa-upload" aria-hidden="true"></i>  Расширения
                    </button>

                    <button th:replace="fragments/item :: operation-close(url = ${url})"/>

                    <div style="margin-bottom: 10px"/>
                </div>

<!--                <div th:include="fragments/item :: operations(url = ${url})"></div>-->

                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <field th:replace="fragments/fields :: id"></field>
                <field th:replace="fragments/fields :: name"></field>
                <field th:replace="fragments/fields :: comment"></field>

                <field th:replace="fragments/fields :: path"></field>
                <field th:replace="fragments/fields :: login"></field>
                <field th:replace="fragments/fields :: password"></field>
            </form>
        </div>
        <footer th:replace="fragments/footer :: bootstrap"/>
    </body>
</html>